.opt-in {
	background: var(--color-black);
	color: var(--color-white);
	grid-column-start: 2;
	margin: 3rem max(-5vw, -2rem) 0;
	padding: 2rem min(5vw, 2rem) 2.25rem;
}

@media (min-width: 716px) {
	.opt-in {
		border-radius: 0.25rem;
		margin-top: 0;
	}
}

:global(.post-content) .opt-in {
	margin-top: 2rem;
}

.opt-in h2 {
	color: var(--color-white);
	margin: 0;
	text-align: left;
}

.opt-in strong,
:global(.post-content) .opt-in strong {
	color: #d4d0da;
}

.opt-in label,
.opt-in input,
.opt-in button {
	display: block;
	font-family: 'jwf';
	font-size: 1rem;
	font-weight: 400;
}

.opt-in label {
	margin-top: 0.5rem;
}

.opt-in input {
	background: var(--color-white);
	border: 1px solid var(--color-text-default);
	border-radius: 0.25rem;
	color: var(--text);
	padding: 0.5rem;
	width: 100%;
}

.opt-in button {
	background: var(--color-pink-text);
	border: none;
	border-radius: 0.25rem;
	color: var(--color-white);
	font-family: 'jwf';
	font-size: 1.25rem;
	font-weight: 900;
	margin-top: 1rem;
	max-width: 300px;
	padding: 0.25rem;
	text-transform: uppercase;
	width: 100%;
}
