.mobile-buttons {
  width: auto;
}

.header .mobile-buttons .nav-toggle {
  display: none;
}

.header nav {
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  margin: 0 5vw;
}

.header nav a {
  opacity: 1;
}
