---
export interface Props {
	title: string;
	mainClass?: string;
}

import { Header, Footer } from '@lwj/design-system';
import '@lwj/design-system/css/index.css';

const { title, mainClass = '' } = Astro.props;
---

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	.block {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 4rem 5vw;
	}

	.gradient-subheading {
		color: var(--color-gray-text-muted);
		font-size: 0.625rem;
		font-weight: 400;
		letter-spacing: 0.2em;
		line-height: 2;
		margin: 0.25rem 0 0;
		text-align: left;
		text-transform: uppercase;
	}

	.dark .gradient-subheading {
		color: var(--color-gray-medium);
	}

	.gradient-underline,
	.gradient-subheading {
		position: relative;
	}

	.gradient-subheading::after,
	.gradient-underline::after {
  	animation: var(--animation-gradient-shift);
		background: var(--color-gradient);
		background-size: 200%;
		bottom: 0;
		content: '';
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%;
	}

	.svg-defs {
		display: block;
    height: 0px;
    width: 0px;
	}
</style>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#302d42" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body data-theme="light">
		<svg class="svg-defs">
			<defs>
				<linearGradient
					id="lwj-gradient"
					x1="0"
					x2="100%"
					y1="100%"
					y2="100%"
					gradientUnits="objectBoundingBox"
				>
					<stop offset="0" stop-color="#D459AB" />
					<stop offset=".5" stop-color="#FFDF37" />
					<stop offset="1" stop-color="#A6FFFA" />
				</linearGradient>
			</defs>
		</svg>
		<Header />
		<main class={mainClass}>
			<slot />
		</main>
		<Footer />
	</body>
</html>
