---
import { getCollection } from 'astro:content';
import Layout from '../components/layout.astro';
import ServicePanel from '../components/service-panel.astro';

const services = await getCollection('services');
const partners = [
	'github',
	'slack',
	'sentry',
	'netlify',
	'wix',
	'workos',
	'devcycle',
	'clerk',
	'convex',
	'mongodb',
];
---

<Layout title="Dev-Focused Media Production — Partner with Learn With Jason">
	<section class="hero">
		<h1><span>Partners</span></h1>

		<div class="intro">
			<p>
				<em>Learn With Jason</em> teams up with developer-focused companies to make
				stuff developers actually want to watch.
			</p>
			<a class="button" href="#start"><span>Let’s Talk Ideas</span></a>
			<p>
				We’ve worked with some of the biggest companies in the devtools space,
				including:
			</p>
			<div class="partners">
				<ul>
					{
						partners.map((partner) => (
							<li>
								<img
									src={`https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/lwj/partners/partner-${partner}.png`}
									alt={partner}
								/>
							</li>
						))
					}
				</ul>
			</div>
			<p>
				<a class="scroll-nudge" href="#dev-tv">
					scroll to see examples
					<span>&darr;</span>
				</a>
			</p>
		</div>
	</section>

	{services.map((service) => <ServicePanel service={service} />)}

	<section id="start" class="contact">
		<h2>Something awesome starts here.</h2>
		<p>
			Your next amazing project begins with discussing your goals and ideas. The
			easiest way to get started is to book a call.
		</p>
		<p>
			<a class="button" href="https://calendly.com/learnwithjason/new-project">
				<span>Book a Call</span>
			</a>
		</p>

		<p>
			Or, if you prefer, send me an email at <a
				href="mailto:info@learnwithjason.dev">info@learnwithjason.dev</a
			>.
		</p>
	</section>

	<style>
		@media (min-width: 600px) {
			html {
				scroll-behavior: smooth;
				scroll-snap-type: y mandatory;
			}

			section {
				height: 100dvh;
				padding: 3rem min(2rem, 5vw);
				scroll-snap-align: start;
			}
		}

		.hero {
			background: var(--vignette-gradient),
				url('https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/lwj/partners/panel-educational-video.jpg');
			background-blend-mode: multiply, normal;
			background-position-x: 200px;
			background-position-y: center;
			background-size: calc(100% + 200px);
			padding-block: 3rem;
			text-align: center;
			z-index: 100;

			@media (min-width: 600px) {
				container: section / size;
				display: grid;
				height: 100dvh;
				padding-block: 0;
				place-content: center start;
			}

			& h1 {
				color: var(--white);
				font-family: 'Mallory Ultra';
				font-size: clamp(2.25rem, 1rem + 10cqw, 8rem);
				letter-spacing: -0.05em;
				line-height: 1;
				margin: 0 auto;
				padding: 1rem 2rem;
				text-shadow: 0 0.25rem 0.5rem var(--black);
				text-transform: uppercase;
			}
		}

		.intro {
			display: grid;
			height: auto;
			place-content: center;
			position: relative;
			z-index: 10;

			& p {
				color: var(--text);
				font-size: clamp(1rem, 2.25vw, 1.5rem);
				margin: 0 auto;
				width: min(90vw, 45ch);

				&:not(:first-of-type) {
					font-size: 1rem;
					width: min(90vw, 65ch);
					margin-block-start: 1rem;
				}
			}

			& .scroll-nudge {
				color: inherit;
				font-size: 0.75rem;
				text-align: center;
				text-decoration: none;

				& span {
					display: block;
					font-size: 1rem;
				}
			}
		}

		.partners {
			margin: 0 auto;

			& ul {
				display: flex;
				flex-wrap: wrap;
				gap: 0.25rem 1rem;
				justify-content: center;
				list-style: none;
				margin: 0;
				max-width: 55ch;
				padding: 0.75rem min(2rem, 5vw) 1.5rem;
			}

			& img {
				height: 30px;
				width: auto;

				@media (min-width: 500px) {
					height: 35px;
				}
			}
		}

		.contact {
			background: var(--black-desaturated);
			display: grid;
			padding: 3rem;
			place-content: center;
			text-align: center;

			& h2 {
				color: var(--white);
				font-family: 'mallory-ultra';
				font-size: clamp(1.5rem, 4vw, 3rem);
				margin: 0;
			}

			& p {
				color: var(--text);
				margin: 1rem auto;
				width: min(90vw, 45ch);

				& a:not(.button) {
					color: inherit;

					&:is(:focus, :hover) {
						color: var(--white);
					}
				}
			}

			& .button {
				display: inline-block;
				margin: 0;
				width: auto;
			}
		}
	</style>
</Layout>
