{
	"singleQuote": true,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "*.mdx",
			"options": {
				"useTabs": false
			}
		}
	]
}
