@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-book.woff2') format('woff2'),
    url('/fonts/jwf-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-bookitalic.woff2') format('woff2'),
    url('/fonts/jwf-bookitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-bold.woff2') format('woff2'),
    url('/fonts/jwf-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-bolditalic.woff2') format('woff2'),
    url('/fonts/jwf-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-ultra.woff2') format('woff2'),
    url('/fonts/jwf-ultra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'jwf';
  src: url('/fonts/jwf-ultraitalic.woff2') format('woff2'),
    url('/fonts/jwf-ultraitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --white: white;
  --text: #403c4a;
  --text-emphasized: #201d29;
  --text-muted: #78757f;
  --text-pink: #c10b7e;
  --yellow: #ffe742;
  --yellow-dark: #ddc62c;
  --pink: #ff87d4;
  --pink-dark: #c10b7e;
  --blue: #87fffb;
  --blue-dark: #63ddd9;
  --black: #171321;
  --gray-light: #d4d0e0;
  --gray-medium: #b1acb9;
  --font-family: jwf, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --gradient: linear-gradient(
    2deg,
    var(--pink) 0%,
    var(--yellow) 50%,
    var(--blue) 100%
  );
  --background: var(--white);
  --foreground: var(--black);
  --footnote-hover: var(--pink-dark);
}

.dark-theme {
  --blue-dark: #0d314a;
  --pink-dark: #6d114c;
  --text: var(--gray-medium);
  --text-emphasized: #d4d0da;
  --text-muted: #aba7b5;
  --background: var(--black);
  --foreground: var(--white);
  --footnote-hover: var(--yellow);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45rem;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 900;
  line-height: 1.1;
  margin: 0 0 1.5rem;
  text-align: center;
}

img {
  width: 100%;
}

.header {
  align-items: center;
  background: var(--black);
  border-bottom: 1px solid var(--text);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 1.5rem 1rem calc(1.5rem + 9px) 2rem;
  position: relative;
}

.header::after {
  background: var(--gradient);
  bottom: 0;
  content: '';
  height: 9px;
  left: 0;
  position: absolute;
  width: 100%;
}

.header a {
  color: var(--white);
  display: block;
  line-height: 1;
}

.header nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header nav a {
  font-weight: 900;
  padding: 1rem;
  text-decoration: none;
}

@media (min-width: 980px) {
  .header,
  .header nav {
    flex-direction: row;
  }

  .header {
    padding-bottom: calc(0.25rem + 9px);
    padding-top: 0.25rem;
  }
}

.block {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 5vw;
}

.hero {
  background: var(--text-emphasized);
  color: var(--text);
}

.hero-heading {
  max-width: 900px;
}

.hero-heading text {
  font-family: var(--font-family);
  font-size: 75px;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1;
  stroke-linejoin: round;
  text-anchor: middle;
}

.hero p {
  color: var(--gray-medium);
  font-size: clamp(1rem, 2vw, 1.375rem);
  margin: 0;
  max-width: 90vw;
  text-align: center;
  width: 50ch;
}

.hero strong {
  color: var(--gray-light);
}

.links {
  align-items: center;
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: space-between;
  margin: 1rem 0 0;
  padding: 0;
}

#text {
  stroke: var(--text);
  stroke-width: 2px;
  fill: white;
  paint-order: stroke fill;
}

#gradient-stroke {
  fill: url(#lwj-gradient);
  stroke: url(#lwj-gradient);
  stroke-width: 14px;
}

#o-filler {
  fill: #fad04c;
}

#o-filler2 {
  fill: #fdd840;
}

.stop1 {
  stop-color: var(--pink);
}

.stop2 {
  stop-color: var(--yellow);
}

.stop3 {
  stop-color: var(--blue);
}

.hero-social use {
  transform-origin: center;
}

.svg-defs {
  display: block;
  height: 0px;
  width: 0px;
}

.next-episode-wrapper {
  align-items: end;
  display: grid;
  gap: 5rem;
  grid-template-columns: min(590px, 60%) min(310px, 35%);
  justify-content: center;
}

.next-episode {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: min(150px, 33%) min(410px, 66%);
}

.next-episode h3 {
  font-weight: 600;
  line-height: 1.1;
  margin: 1rem 0 0;
}

.next-episode-photo {
  height: 0;
  padding-bottom: 100%;
}

.next-episode-teacher p {
  font-weight: 900;
  font-size: 0.875rem;
  margin: 0.25rem 0 0;
  text-align: center;
}

.button {
  border: 2px solid;
  border-radius: 0.25rem;
  color: var(--pink-dark);
  display: block;
  font-weight: 600;
  margin-bottom: 2.25rem;
  margin-top: 2rem;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

.schedule-links p {
  color: var(--text);
  font-size: 0.875rem;
}

.schedule-links .links a {
  align-items: center;
  color: var(--pink-dark);
  display: flex;
  font-size: 0.625rem;
  font-weight: 600;
  gap: 0.5rem;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.live-captions {
  margin: 0;
  height: 360px;
  width: 100%;
}

.live-captions-credits {
  color: var(--text-muted);
  margin: 0.5rem 0 0;
  text-align: center;
}

.teacher-photos {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  width: 640px;
}

.teacher-photos a {
  display: block;
  margin: 0 -1rem;
  position: relative;
  z-index: 1;
}

.teacher-photos a.active {
  z-index: 10;
}

.teacher-photos svg {
  width: 100%;
}

.featured {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.featured h2 {
  margin: 0 5vw 1rem;
}

.episode-details {
  background: var(--text-emphasized);
  margin-top: -1.5rem;
  padding: 2.5rem 5vw;
  position: relative;
  width: 100%;
}

.episode-poster {
  padding-top: 0.25rem;
}

.episode-details::after,
.episode-details::before {
  background: var(--gradient);
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.episode-details::after {
  bottom: 0;
}

.episode-details::before {
  top: 0;
}

.episode-info h3 {
  color: var(--white);
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.1;
  margin: 1rem 0 0;
}

.gradient-subheading {
  color: var(--text-muted);
  font-size: 0.625rem;
  letter-spacing: 0.2em;
  line-height: 2;
  margin: 0.25rem 0 0;
  text-transform: uppercase;
}

.dark .gradient-subheading {
  color: var(--gray-medium);
}

.gradient-underline,
.gradient-subheading {
  position: relative;
}

.gradient-subheading::after,
.gradient-underline::after {
  background: var(--gradient);
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.episode-description {
  color: var(--text);
}

.next-episode .episode-description {
  margin-top: 0.5rem;
}

.dark .episode-description {
  color: var(--gray-medium);
}

.episode-links {
  color: var(--pink-dark);
  display: flex;
  font-size: 0.625rem;
  font-weight: 600;
  gap: 1.5rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.episode-links path {
  fill: var(--pink-dark);
}

.dark .episode-links {
  color: var(--pink);
}

.dark .episode-links path {
  fill: var(--pink);
}

.episode-links a {
  align-items: center;
  color: inherit;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

@media (min-width: 800px) {
  .episode-details {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: min(60%, 450px) min(calc(40% - 1.4rem), 330px);
    justify-content: center;
    margin-top: -2rem;
  }

  .episode-info h3 {
    margin-top: 0;
  }
}

.animate {
  position: relative;
}

.sponsors-heading {
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: uppercase;
}

.sponsors-list {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  list-style: none;
  margin: 0.5rem 0 0;
  padding: 0;
}

.host-bio {
  align-items: center;
  display: grid;
  grid-template-columns: min(160px, 25%) min(340px, 70%);
  gap: 1.5rem;
  max-width: 510px;
  width: 90vw;
  color: var(--gray-medium);
}

.host-details a {
  color: var(--pink);
}

.host-details strong {
  color: var(--gray-light);
}

.host-photo {
  height: 0;
  padding-bottom: 100%;
}

.host-photo use {
  stroke: var(--text-emphasized);
}

.host-details p {
  margin: 0;
}

.content {
  margin: 3rem auto;
  max-width: 54ch;
  width: 90vw;
}

.topics {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, min(50%, 375px));
  justify-content: center;
}

.topic-list {
  list-style: none;
  padding: 0;
}

.topic-list-container h3 {
  font-weight: 600;
  line-height: 1.2;
}

.topic-episode {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 50px 1fr;
  margin-top: 1rem;
}

.teacher-photo {
  display: block;
  height: 0;
  padding-bottom: 100%;
}

.topic-episode a {
  color: var(--text);
  text-decoration: none;
}

.footer {
  align-items: center;
  background: var(--black);
  display: flex;
  flex-direction: column;
  padding: 3rem 5vw;
  position: relative;
}

.footer::after {
  background: var(--gradient);
  top: 1px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.footer h2 {
  color: var(--white);
}
