[build]
  command = "npm run build"
  publish = "public"
  functions = "functions"

[dev]
  autoLaunch = false
  framework = "#custom"
  command = "npm run dev"
  targetPort = 5000

[[plugins]]
  package = "netlify-plugin-toast-cache"

[[redirects]]
  from = "/api/episode/:slug"
  to = "/.netlify/functions/episode"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
