# Get a Twitch user’s ID here:
# https://dev.twitch.tv/docs/api/reference/#get-users
TWITCH_USER_ID=<your Twitch user ID>

# for info on getting your client ID:
# https://dev.twitch.tv/docs/authentication/#registration
GATSBY_TWITCH_CLIENT_ID=<your Twitch client ID>

# Get you token at https://manage.sanity.io under Settings > API
SANITY_TOKEN=<your Sanity token>
SANITY_PROJECT_ID=<your Sanity projectId>
SANITY_DATASET=<your Sanity dataset>
