@font-face {
	font-family: 'jwf';
	src: url('../fonts/jwf-book.woff2') format('woff2'),
		url('../fonts/jwf-book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'jwf';
	src: url('../fonts/jwf-bookitalic.woff2') format('woff2'),
		url('../fonts/jwf-bookitalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'jwf';
	src: url('../fonts/jwf-bold.woff2') format('woff2'),
		url('../fonts/jwf-bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'jwf';
	src: url('../fonts/jwf-bolditalic.woff2') format('woff2'),
		url('../fonts/jwf-bolditalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'jwf';
	src: url('../fonts/jwf-ultra.woff2') format('woff2'),
		url('../fonts/jwf-ultra.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'jwf';
	src: url('../fonts/jwf-ultraitalic.woff2') format('woff2'),
		url('../fonts/jwf-ultraitalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

html,
body {
	color: var(--color-text-default);
	font-family: jwf, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	line-height: 1.45;
	tab-size: 2;
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-heading);
	font-weight: 900;
	line-height: 1.1;
	margin: 0 0 0.5rem;
	padding: 1rem 0 0;
}

strong {
	color: var(--color-heading);
	font-weight: 700;
}
