---
import { loadSchedule } from '@lwj/sanity-helpers';
import Layout from '../layouts/Layout.astro';
import { PageHeader } from '@lwj/design-system';
import { EpisodePreview } from '../components/episode-preview';

const res = await loadSchedule({ cdn: false });
const schedule = res.data?.result;

const title = 'Upcoming Web Experts on Learn With Jason';
const lede =
	'Here’s who we’ll be learning from next on Learn With Jason! Make sure to never miss an episode by adding the Google Calendar and subscribing on Twitch!';
---

<Layout title={title}>
	<PageHeader heading={title} lede={lede}>
		<div class="subscribe-bar">
			<h3>Never miss an episode:</h3>
			<a href="https://discord.gg/lwj" title="join the Discord">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" fill="none"
					><path
						fill="#97959D"
						d="M52.35 19.02a40.96 40.96 0 0 0-10.31-3.22c-.49.89-.93 1.8-1.32 2.72-3.8-.57-7.66-.57-11.45 0-.4-.93-.83-1.83-1.32-2.72-3.57.62-7.04 1.7-10.32 3.23-6.53 9.78-8.3 19.32-7.42 28.73a41.37 41.37 0 0 0 12.65 6.44 31.03 31.03 0 0 0 2.71-4.43 26.76 26.76 0 0 1-4.26-2.06l1.04-.8a29.4 29.4 0 0 0 25.3 0c.34.28.69.55 1.04.8-1.36.81-2.79 1.5-4.27 2.06a30.75 30.75 0 0 0 2.7 4.43 41.19 41.19 0 0 0 12.67-6.43C60.83 36.86 58 27.4 52.35 19.02ZM26.7 41.98c-2.46 0-4.5-2.27-4.5-5.06 0-2.79 1.97-5.08 4.5-5.08 2.52 0 4.55 2.3 4.5 5.08-.04 2.79-1.98 5.06-4.5 5.06Zm16.62 0c-2.47 0-4.5-2.27-4.5-5.06 0-2.79 1.96-5.08 4.5-5.08 2.53 0 4.53 2.3 4.5 5.08-.05 2.79-2 5.06-4.5 5.06Z"
					></path>
				</svg>
			</a>
			<a href="/newsletter" title="Get the newsletter">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" fill="none"
					><path
						fill="#97959D"
						fill-rule="evenodd"
						d="M9 18.5c0-1.1.9-2 2-2h48a2 2 0 0 1 2 2v33a2 2 0 0 1-2 2H11a2 2 0 0 1-2-2v-33Zm6.8 2 18.49 18.66a1 1 0 0 0 1.42 0l18.5-18.66H15.8ZM57 23.36 45.46 35 57 46.64V23.36ZM54.2 49.5 42.65 37.84l-4.1 4.14a5 5 0 0 1-7.1 0l-4.1-4.14L15.8 49.5h38.4ZM13 46.64V23.36L24.54 35 13 46.64Z"
						clip-rule="evenodd"></path>
				</svg>
			</a>
			<a
				title="Add to Calendar"
				class="addeventstc"
				data-id="BX577118"
				href="https://www.addevent.com/calendar/BX577118"
				target="_blank"
				rel="nofollow"
				data-styling="none"
			>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" fill="none"
					><path
						fill="#97959D"
						fill-rule="evenodd"
						d="M25 15.94a2 2 0 0 0-2 2v1.12h-9a2 2 0 0 0-2 2v31c0 1.1.9 2 2 2h42a2 2 0 0 0 2-2v-31a2 2 0 0 0-2-2h-9v-1.12a2 2 0 0 0-4 0v1.12H27v-1.12a2 2 0 0 0-2-2Zm18 7.12H27v.88a2 2 0 1 1-4 0v-.88h-7V29h38v-5.94h-7v.88a2 2 0 1 1-4 0v-.88ZM16 32h38v18.06H16V32Z"
						clip-rule="evenodd"></path>
				</svg>
			</a>
			<a
				href="https://youtube.com/@learnwithjason"
				title="subscribe on YouTube"
			>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" fill="none"
					><path
						fill="#97959D"
						d="M30 42.5v-15L42.99 35 30 42.5Zm28.95-19.53a6.26 6.26 0 0 0-4.42-4.43C50.63 17.5 35 17.5 35 17.5s-15.64 0-19.53 1.04a6.26 6.26 0 0 0-4.43 4.43C10 26.87 10 35 10 35s0 8.14 1.04 12.03a6.26 6.26 0 0 0 4.43 4.42C19.37 52.5 35 52.5 35 52.5s15.64 0 19.53-1.05a6.26 6.26 0 0 0 4.42-4.42C60 43.13 60 35 60 35s0-8.14-1.05-12.03Z"
					></path>
				</svg>
			</a>
			<a href="https://twitch.tv/jlengstorf" title="follow on Twitch">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" fill="none"
					><path
						fill="#97959D"
						d="m22.5 14-8.92 8.93v32.14h10.7V64l8.93-8.93h7.15L56.42 39V14H22.5Zm30.35 23.21-7.14 7.15h-7.14l-6.25 6.25v-6.25H24.3V17.57h28.56v19.64Z"
					></path><path
						fill="#97959D"
						d="M37.7 23.83h-3.6v10.7h3.6v-10.7ZM47.53 23.83h-3.6v10.7h3.6v-10.7Z"
					></path>
				</svg>
			</a>
		</div>
	</PageHeader>

	<section class="episode-previews">
		{
			schedule?.map((episode) => {
				return <EpisodePreview episode={episode} />;
			})
		}
	</section>
</Layout>

<style>
	.episode-previews {
		display: grid;
		justify-content: center;
		margin: 3rem auto 6rem;
		max-width: min(1280px, 90vw);
		width: 100%;
	}

	.subscribe-bar {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: space-between;
	}

	.subscribe-bar h3 {
		color: var(--color-gray-lighter);
		font-size: 0.75rem;
		font-weight: 400;
		letter-spacing: 0.2em;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}

	.subscribe-bar a {
		height: 35px;
		width: 35px;
	}

	.subscribe-bar svg {
		height: auto;
		width: auto;
	}

	.subscribe-bar :is(a, svg) {
		display: block;
	}

	.subscribe-bar path {
		fill: var(--color-gray-light);
		transition: 150ms linear all;
	}

	.subscribe-bar svg:is(:focus, :hover, :active) path {
		fill: var(--color-white);
	}

	@media (min-width: 1100px) {
		.episode-previews {
			align-items: start;
			display: grid;
			gap: 3rem;
			grid-template-columns: repeat(auto-fit, min(calc(50% - 1.5rem), 600px));
		}
	}
</style>
