.container {
	border-bottom: 1rem solid var(--color-black);
	height: 200px;
	margin: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.chat {
	bottom: 0;
	color: var(--color-gray-text);
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 650px;
}

.chatMessage {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.author {
	border-radius: 0.125rem;
	color: var(--color-gray-text);
	display: block;
	font-weight: bold;
	max-width: 120px;
	overflow: hidden;
	padding: 0.125rem 0.25rem;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}

.author[data-role*='subscriber'] {
	color: var(--color-yellow);
}

.author[data-role*='broadcaster'] {
	background: var(--color-yellow);
	color: var(--color-black);
}

.message {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 450px;
}

.message img {
	display: block;
	margin: -0.125rem 0.25rem;
	width: 45px;
}
