.messageWrapper {
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.heading {
	line-height: 1.1;
	margin: 0;
}

.message {
	align-items: center;
	color: var(--color-gray-light);
	display: flex;
	font-size: 1.5rem;
	line-height: 1.5rem;
	gap: 1rem;
	height: 60px;
	margin: 0;
	opacity: 1;
	transition: opacity 200ms linear;
}

.message.hide {
	opacity: 0;
}

.message p {
	margin: 0;
}

.message strong {
	color: var(--color-gray-text);
}

.captioning {
	display: block;
	font-size: 1rem;
	line-height: 1.25;
	text-align: right;
	width: 155px;
}
