.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	z-index: 10;
}

.videoWrapper {
	animation: var(--animation-gradient-shift);
	aspect-ratio: 4 / 3;
	background: var(--color-gradient);
	background-size: 200% 100%;
	border-radius: 0.25rem;
	object-fit: cover;
	padding: 2px;
}

.video {
	background: green;
	height: 100%;
	width: 100%;
}

.nameWrapper {
	animation: var(--animation-gradient-shift);
	background: var(--color-gradient);
	background-size: 200% 100%;
	clip-path: polygon(0 0, 99% 0, 100% 100%, 1% 100%);
	margin-top: -4rem;
	padding: 2px;
}

[data-size='monologue'] .videoWrapper {
	aspect-ratio: 16 / 10;
	width: 1080px;
}

[data-size='interview'] .videoWrapper {
	width: 820px;
}

[data-size='monologue'] .nameWrapper,
[data-size='interview'] .nameWrapper {
	width: 574px;
}

[data-size='sidebar'] .videoWrapper {
	aspect-ratio: 1.64;
	width: 544px;
}

[data-size='sidebar-solo'] .videoWrapper {
	aspect-ratio: 6 / 7;
	width: 544px;
}

[data-size='sidebar-solo'] .nameWrapper,
[data-size='sidebar'] .nameWrapper {
	margin-top: -2rem;
	width: 504px;
}

.nameCard {
	background: var(--color-black);
	clip-path: polygon(0 0, 99% 0, 100% 100%, 1% 100%);
	padding: 0.5rem 0.75rem 0.625rem;
	text-align: center;
}

.guest {
	color: var(--color-white);
	display: block;
	font-size: 2.25rem;
	font-weight: bold;
	line-height: 1.1;
	position: relative;
	z-index: 10;
}

[data-size='sidebar'] .guest {
	font-size: 2rem;
}

.twitter {
	align-items: center;
	color: var(--color-gray-light);
	display: flex;
	font-size: 1.5rem;
	gap: 0.75rem;
	justify-content: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[data-size='sidebar'] .twitter {
	font-size: 1.25rem;
}

[data-size='sidebar'] .twitterLogo {
	width: 24px;
}
