.aside {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1.875rem auto;
	margin: 2rem 0;
	padding: 1rem 1rem 0 0.5rem;
	position: relative;
}

.aside::after,
.aside::before {
	animation: var(--animation-gradient-shift);
	background: var(--color-gradient);
	background-size: 200%;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.aside::after {
	animation-direction: reverse;
	bottom: 0;
}

.aside::before {
	top: 0;
}

.icon {
	padding: 0;
}

.icon[data-style='default'] {
	margin-top: -0.375rem;
}

.content :is(p, ul, ol) {
	color: var(--color-gray-text-muted);
	font-size: 0.875rem;
	margin: 1rem 0 0;
}

.content p:first-of-type {
	margin-top: 0;
}

.content > :last-child {
	padding-bottom: 1rem;
}
