.playerWrap:not(:first-child) {
	margin-block-start: 2rem;
}

.heading {
	margin-block-start: 2rem;
}

.headingLarge {
	font-size: 2.25rem;
	margin-block: 0 1.5rem;
	padding-block-start: 0;
	text-align: center;
}

.details {
	margin-block: 2rem;
}

.captions {
	color: var(--color-gray-text-muted);
	font-size: 0.875rem;
	font-style: italic;
	margin-block: 2rem 3rem;
	text-align: center;
}

.captions a {
	color: inherit;
}

.watchDetails {
	margin-block-start: 2rem;
}
