---

---

<nav class="sponsors">
	<a href="https://lwj.dev/tuple">
		<svg
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 56 35"
			width="96"
			height="60"
		>
			<g clip-path="url(#a)" fill="currentColor">
				<path
					d="M17.805 14.738v-1.731h8.5v1.731h-3.178v8.466H20.99v-8.466h-3.184Zm12.445 8.595c2.21 0 3.568-1.172 3.568-3.14V15.48h-2.1v4.581c0 .995-.538 1.543-1.462 1.543-.923 0-1.462-.548-1.462-1.543v-4.581h-2.099v4.712c0 1.968 1.35 3.14 3.555 3.14Zm5.356 2.674V15.483h2.06v1.286h.098c.093-.2.23-.408.409-.622.179-.215.416-.395.712-.541.296-.146.665-.22 1.107-.22a2.99 2.99 0 0 1 1.585.439c.48.292.863.73 1.15 1.314.286.584.429 1.382.429 2.253 0 .849-.14 1.566-.42 2.152-.279.587-.658 1.032-1.138 1.335-.48.303-1.02.455-1.62.455-.424 0-.782-.07-1.076-.212a2.241 2.241 0 0 1-.715-.523 2.69 2.69 0 0 1-.423-.62h-.063v4.028h-2.095Zm3.73-4.322c.544 0 .96-.215 1.246-.643.286-.43.43-.982.43-1.657 0-.67-.142-1.29-.426-1.716-.285-.426-.701-.64-1.25-.64-.54 0-.956.208-1.247.623-.291.415-.437 1.04-.437 1.733 0 .694.147 1.25.44 1.67.294.42.708.63 1.243.63Zm7.565 1.567c-.796 0-1.382-.169-1.757-.506-.374-.338-.562-.847-.562-1.527v-8.212h2.095v7.932c0 .246.043.424.13.534.086.11.233.164.443.164.112 0 .2-.005.262-.014.063-.009.117-.02.164-.034l.328 1.499a3.864 3.864 0 0 1-.454.11 3.48 3.48 0 0 1-.65.054Zm5.343.103c-.797 0-1.483-.16-2.06-.48a3.253 3.253 0 0 1-1.331-1.361c-.31-.589-.465-1.287-.465-2.095 0-.789.155-1.48.465-2.073a3.422 3.422 0 0 1 1.306-1.39c.56-.332 1.22-.5 1.98-.5.68 0 1.296.142 1.85.425.555.283.996.712 1.324 1.287.328.575.492 1.298.492 2.17v.574h-5.342c.023.625.2 1.098.53 1.417.331.32.76.479 1.285.479.368 0 .684-.076.947-.23.263-.152.45-.377.562-.673l1.9.349c-.191.634-.586 1.143-1.184 1.526s-1.352.575-2.26.575Zm-1.767-4.73h3.31c-.051-.497-.214-.891-.489-1.183-.275-.292-.654-.438-1.138-.438-.503 0-.899.151-1.188.455-.288.303-.453.692-.495 1.167ZM0 12.419v7.551c0 .435.302.811.727.906l6.708 1.49a.928.928 0 0 0 1.13-.905V10.928a.928.928 0 0 0-1.13-.906l-6.708 1.49A.928.928 0 0 0 0 12.42Z"
				></path>
				<path
					opacity=".3"
					d="M11.205 13.568c.512 0 .928.416.928.928v10.89a.926.926 0 0 1-1.13.906L4.295 24.8a.928.928 0 0 1-.727-.906v-1.377l3.809.846a1.856 1.856 0 0 0 2.258-1.81l-.001-7.66 1.37-.303a.92.92 0 0 1 .1-.017l.1-.006Z"
				></path>
			</g>
			<defs>
				<clipPath id="a">
					<path fill="currentColor" d="M0 0h56v35H0z"></path>
				</clipPath>
			</defs>
		</svg>
	</a>
	<a href="https://lwj.dev/netlify" title="Netlify">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 60 35"
			width="103"
			height="60"
			><g
				><path
					fill="currentColor"
					fill-rule="evenodd"
					d="M13.0135 14.1964V7.88089l.1309-.13089h1.5789l.1308.13089v6.31551l-.1308.1309h-1.5789l-.1309-.1309Zm0 18.4227v-6.3154l.1309-.1308h1.5789l.1308.1308v6.3154l-.1308.1309h-1.5789l-.1309-.1309Zm-5.65081-4.4399h.21678l2.03495-2.037v-1.1494l-.15339-.1513-1.14938-.0021-2.03494 2.037v.2168l1.08598 1.086ZM6.27671 13.681v-.2189l1.08598-1.0839h.21678l2.03495 2.035v1.1473l-.15339.1554H8.31165L6.27671 13.681Zm1.80179 5.6467H-.86911L-1 19.4586v1.5809l.13089.1309H8.0785l.13088-.1309v-1.5809l-.13088-.1309Zm52.1435.002.1308.1309v1.5789l-.1308.1309h-9.0784l-.1309-.1309.6565-1.5789.1308-.1309h8.422Zm-44.9057 4.211h1.5789v-.002l.1309-.1309v-3.9472c0-1.3805-1.1187-2.4992-2.4992-2.4992h-3.5524l-.1309.1309v6.3155l.1309.1309h1.5788l.1309-.1309v-4.7816l.0757-.0757c.499-.0204.9653-.0307 1.3743-.0204.7936.0163 1.0513.5256 1.0513 1.1841v3.6956l.1308.1309Zm9.2258-2.765-.1308.1308H20.329l-.1309.131c0 .2638.2639 1.0532 1.3171 1.0532.3948 0 .7895-.1309.9224-.3947l.1309-.1309h1.5789l.1309.1309c-.1309.7894-.7895 1.9756-2.7651 1.9756-2.2374 0-3.2907-1.5788-3.2907-3.4236 0-1.8447 1.0533-3.4236 3.1598-3.4236 2.1065 0 3.1598 1.5789 3.1598 3.4236v.5277Zm-1.9756-1.3171c0-.1309-.1309-1.0533-1.1842-1.0533s-1.1842.9224-1.1842 1.0533l.1309.1309h2.1066l.1309-.1309Zm6.0557 2.5012c-.2638 0-.3947-.1309-.3947-.3947l-.0022-.002v-2.896l.1309-.1309h1.4481l.1308-.1309v-1.3171l-.1308-.1309h-1.4481l-.1309-.1309v-1.1841l-.1308-.1309h-1.579l-.1308.1309v1.1841l-.1309.1309h-.9222l-.1309.1309v1.3171l.1309.1309h.9222l.1309.1309v2.896c0 1.448 1.0533 1.9756 2.2375 1.9756h1.1842l.1309-.1309v-1.3171l-.1309-.1309h-1.1842Zm4.4768 1.5809h-1.5787l-.1311-.1309v-8.9537l.1311-.1309h1.5787l.1309.1309v8.9517l-.1309.1309v.002Zm1.9756-7.6366h1.5789l.1309-.1309v-1.3171l-.1309-.1309h-1.5789l-.1309.1309v1.3171l.1309.1309Zm0 7.6366h1.5789l.1309-.1309v-6.3195l-.1309-.1309h-1.5789l-.1309.1309v6.3195l.1309.1309Zm7.7676-9.0846v1.3171l-.1308.1309h-1.1842c-.2639 0-.3948.1309-.3948.3947v.5276l.1309.1309h1.3172l.1309.1309v1.3171l-.1309.1309h-1.3172l-.1309.1309v4.7387l-.1308.1308h-1.579l-.1308-.1308v-4.7387l-.1309-.1309h-.9222l-.1311-.1309v-1.3171l.1311-.1309h.9222l.1309-.1309v-.5276c0-1.448 1.0533-1.9756 2.2375-1.9756h1.184l.1311.1309-.0022.002Zm1.9737 11.322c1.8425 0 2.3681-.7894 2.8959-2.1065l-.0063.0021 2.1067-5.2663v-1.3171l-.1308-.1309h-1.1842l-.1309.1309-1.5789 4.4768h-.1309l-1.5789-4.4768-.1309-.1309h-1.1842l-.1308.1309v1.3171l2.1064 5.1354v.1309c-.1328.3947-.2639.5256-.9222.5256h-.6586l-.1309.1309v1.3171l.1309.1308h.6586Z"
					clip-rule="evenodd"></path></g
			></svg
		>
	</a>
</nav>

<style>
	.sponsors {
		display: flex;
		flex-wrap: wrap;
		gap: 0 1rem;
		justify-content: center;

		& a {
			color: inherit;
			display: block;
		}

		& svg {
			display: block;
		}
	}
</style>
