---

---

<nav class="sponsors">
	<a href="https://lwj.dev/nx" title="Vets Who Code">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 35"
			width="41"
			height="60"
			><g clip-path="url(#a)"
				><path
					fill="currentColor"
					fill-rule="evenodd"
					d="m9.01745 15.8755 3.06995 4.7987-3.15875 4.9642-5.2362-8.4976-.012 8.8963H0V11h3.72205l5.2908 8.9074.0046-4.0319Zm3.67675-1.0101H9.01839l-.00094-.0425L9.02209 11h3.68041v3.8229l-.0083.0425Zm5.6811 4.1688c-.8806-.0167-1.6762.5232-1.9859 1.3477.5156-.7711 1.4975-1.081 2.3623-.7456.0461.0188.0939.0389.1429.0596h.0001l.0008.0004c.3763.1584.8295.3492 1.1974.2249-.3959-.5555-1.0355-.8858-1.7176-.887Zm3.4168 1.0693c.5087.185.7538.2895.7538.7399l.001.1342c-.3654-.0775-.5447-.2287-.6899-.3512-.1529-.1289-.268-.226-.5228-.1714-.3245.0883-.6683-.0491-.8426-.3367-.3489-.7584-1.0745-1.2744-1.9054-1.355-.8309-.0805-1.6421.2864-2.1302.9637.3861-.9369 1.299-1.5486 2.3124-1.5493.505 0 .8945.1064 1.1914.3247.22.1782.4027.3983.5373.6474l.0044.007c.0585.0936.1137.1818.1732.2603.3107.4056.737.554 1.1135.685l.0039.0014Zm2.3919.6437v-.0101c-.0111-2.9821-2.4317-5.5332-5.4156-5.5332-1.8225-.0012-3.523.9153-4.524 2.4382l-.0194-.0333-1.5317-2.4049H9.0184l3.4917 5.4684-3.40755 5.3648H12.672l1.553-2.3855 1.5807 2.3855h3.5704l-3.2374-5.0947c-.0537-.0993-.0829-.21-.0851-.3228-.0002-.7196.2855-1.4098.7943-1.9186.5089-.5088 1.1991-.7946 1.9186-.7943 1.2465 0 1.6304.6192 1.9103 1.0707.057.0919.1097.1769.1644.2483.2736.3563.6639.4933 1.0209.6187.4771.1675.8947.3141.8947.9352.0038.2545.1431.4876.3654.6115.2222.1239.4937.1199.7122-.0107.2184-.1305.3507-.3676.3469-.6221v-.0111h.0027Zm-.0998 1.5142c.1039-.2341.1398-.4928.1035-.7465-.0949.204-.2531.2868-.4094.3686-.1316.0689-.2618.1371-.3518.2762-.1776.2728.1147.4153.1147.4153s.3395.1572.543-.3136Z"
					clip-rule="evenodd"></path></g
			><defs
				><clipPath id="a"
					><path fill="currentColor" d="M0 0h24v35H0z"></path></clipPath
				></defs
			></svg
		>
	</a>
	<a href="https://lwj.dev/netlify" title="Netlify">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 60 35"
			width="103"
			height="60"
			><g
				><path
					fill="currentColor"
					fill-rule="evenodd"
					d="M13.0135 14.1964V7.88089l.1309-.13089h1.5789l.1308.13089v6.31551l-.1308.1309h-1.5789l-.1309-.1309Zm0 18.4227v-6.3154l.1309-.1308h1.5789l.1308.1308v6.3154l-.1308.1309h-1.5789l-.1309-.1309Zm-5.65081-4.4399h.21678l2.03495-2.037v-1.1494l-.15339-.1513-1.14938-.0021-2.03494 2.037v.2168l1.08598 1.086ZM6.27671 13.681v-.2189l1.08598-1.0839h.21678l2.03495 2.035v1.1473l-.15339.1554H8.31165L6.27671 13.681Zm1.80179 5.6467H-.86911L-1 19.4586v1.5809l.13089.1309H8.0785l.13088-.1309v-1.5809l-.13088-.1309Zm52.1435.002.1308.1309v1.5789l-.1308.1309h-9.0784l-.1309-.1309.6565-1.5789.1308-.1309h8.422Zm-44.9057 4.211h1.5789v-.002l.1309-.1309v-3.9472c0-1.3805-1.1187-2.4992-2.4992-2.4992h-3.5524l-.1309.1309v6.3155l.1309.1309h1.5788l.1309-.1309v-4.7816l.0757-.0757c.499-.0204.9653-.0307 1.3743-.0204.7936.0163 1.0513.5256 1.0513 1.1841v3.6956l.1308.1309Zm9.2258-2.765-.1308.1308H20.329l-.1309.131c0 .2638.2639 1.0532 1.3171 1.0532.3948 0 .7895-.1309.9224-.3947l.1309-.1309h1.5789l.1309.1309c-.1309.7894-.7895 1.9756-2.7651 1.9756-2.2374 0-3.2907-1.5788-3.2907-3.4236 0-1.8447 1.0533-3.4236 3.1598-3.4236 2.1065 0 3.1598 1.5789 3.1598 3.4236v.5277Zm-1.9756-1.3171c0-.1309-.1309-1.0533-1.1842-1.0533s-1.1842.9224-1.1842 1.0533l.1309.1309h2.1066l.1309-.1309Zm6.0557 2.5012c-.2638 0-.3947-.1309-.3947-.3947l-.0022-.002v-2.896l.1309-.1309h1.4481l.1308-.1309v-1.3171l-.1308-.1309h-1.4481l-.1309-.1309v-1.1841l-.1308-.1309h-1.579l-.1308.1309v1.1841l-.1309.1309h-.9222l-.1309.1309v1.3171l.1309.1309h.9222l.1309.1309v2.896c0 1.448 1.0533 1.9756 2.2375 1.9756h1.1842l.1309-.1309v-1.3171l-.1309-.1309h-1.1842Zm4.4768 1.5809h-1.5787l-.1311-.1309v-8.9537l.1311-.1309h1.5787l.1309.1309v8.9517l-.1309.1309v.002Zm1.9756-7.6366h1.5789l.1309-.1309v-1.3171l-.1309-.1309h-1.5789l-.1309.1309v1.3171l.1309.1309Zm0 7.6366h1.5789l.1309-.1309v-6.3195l-.1309-.1309h-1.5789l-.1309.1309v6.3195l.1309.1309Zm7.7676-9.0846v1.3171l-.1308.1309h-1.1842c-.2639 0-.3948.1309-.3948.3947v.5276l.1309.1309h1.3172l.1309.1309v1.3171l-.1309.1309h-1.3172l-.1309.1309v4.7387l-.1308.1308h-1.579l-.1308-.1308v-4.7387l-.1309-.1309h-.9222l-.1311-.1309v-1.3171l.1311-.1309h.9222l.1309-.1309v-.5276c0-1.448 1.0533-1.9756 2.2375-1.9756h1.184l.1311.1309-.0022.002Zm1.9737 11.322c1.8425 0 2.3681-.7894 2.8959-2.1065l-.0063.0021 2.1067-5.2663v-1.3171l-.1308-.1309h-1.1842l-.1309.1309-1.5789 4.4768h-.1309l-1.5789-4.4768-.1309-.1309h-1.1842l-.1308.1309v1.3171l2.1064 5.1354v.1309c-.1328.3947-.2639.5256-.9222.5256h-.6586l-.1309.1309v1.3171l.1309.1308h.6586Z"
					clip-rule="evenodd"></path></g
			></svg
		>
	</a>
	<a href="https://lwj.dev/vetswhocode" title="Vets Who Code">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 104 35"
			width="178"
			height="60"
		>
			<path
				fill="currentColor"
				fill-rule="evenodd"
				d="M3.55 12.1c-.04.09-.32 1.71-.32 1.8 0 .04-.35.07-.77.07h-.77v1.76h.6c.7 0 .65-.12.43 1.12l-.16.88-.64.02-.65.02-.04.22c-.03.13-.03.51-.02.86l.02.63.51.02.51.02-.03.23c-.1.6-.26 1.5-.3 1.61-.03.1-.13.12-.73.12h3.5c-.9 0-.97 0-.94-.12l.08-.4.15-.86.11-.58h.98c.97 0 .97 0 .94.16-.06.29-.17.92-.22 1.27-.06.48-.02.53-.68.53H7.5l.04-.22.16-.94c.06-.38.13-.72.16-.74.01-.02.58-.03 1.48-.05v-1.76h-1.2l.03-.17.15-.9c.07-.4.15-.78.19-.85.04-.07.16-.1 1.3-.12V14l-1-.05.15-.92c.1-.5.17-.94.17-.97 0-.03-.4-.06-.9-.06h-.91l-.04.23-.16.98-.13.76h-.97c-.78 0-.96-.02-.96-.1 0-.05.06-.47.14-.92l.14-.88c0-.1-1.76-.08-1.8.02Zm2.93 5.03.18-1.04.06-.36H5.71c-.74 0-1.02.02-1.04.08-.04.13-.32 1.77-.32 1.9 0 .11.1.12 1 .1l1-.01.13-.67Z"
				clip-rule="evenodd"></path>
			<path
				fill="currentColor"
				d="m12.46 19.5 4.57-.02V17.8l-4.45-.02-3.24-.01v1.76l3.12-.02Z"></path>
			<path
				fill="currentColor"
				fill-rule="evenodd"
				d="M7.5 21.48h-7l-.02.82v.84c.02.02 3.58.03 7.92.03h7.9v-1.69H7.5ZM0 26.96v-1.68h15.8v1.68l-.75.02-.76.02-.08.52-.17 1-.08.48h-.87c-.65 0-.87-.03-.87-.1l.14-.92.14-.93c0-.07-.24-.09-.97-.09h-.98l-.1.58a25.24 25.24 0 0 0-.18 1c-.02.2-.04.3-.1.37-.09.09-.27.09-.7.09H9.05c-.33 0-.5 0-.57-.08-.07-.09-.04-.27.04-.66l.05-.28.05-.29c.07-.36.11-.55.03-.64-.08-.1-.28-.1-.68-.1l-.31.01c-.58 0-1.07.02-1.08.05-.02.03-.1.5-.2 1.02l-.15.97h-.9c-.9 0-.9 0-.87-.16.03-.16.32-1.8.32-1.86h-1c-.83.01-1 .03-1.02.12 0 .06-.08.5-.17 1l-.16.9h-.86c-.78 0-.87-.02-.87-.13l.14-.96.14-.9c0-.03-.22-.05-.49-.05H0Z"
				clip-rule="evenodd"></path>
			<path
				fill="currentColor"
				d="M13.03 15.73h4.46v-1.69h-.61c-.17 0-.27 0-.32-.05-.08-.07-.05-.27.04-.77a68.18 68.18 0 0 0 .18-1.13c0-.06-.22-.09-.87-.09h-.87l-.07.37-.15.9-.03.2c-.04.26-.06.4-.14.48-.1.1-.29.1-.7.1l-.26-.01c-.74 0-.98-.02-.98-.09l.14-.9.05-.28c.08-.41.11-.6.03-.7-.07-.07-.23-.07-.54-.07a19.3 19.3 0 0 1-.46 0c-.32 0-.5 0-.6.08-.13.1-.16.32-.23.78l-.04.27c-.07.44-.15.83-.18.86-.03.04-.5.04-1.06.01v1.73h3.2ZM22 16.16h1.29l1.77 5.29h.02l1.82-5.3h1.26l-2.42 6.7h-1.38L22 16.14ZM28.86 16.16h5.1v1.01H30.1v1.75h3.57v.95H30.1v1.96h3.93v1.01h-5.17v-6.68ZM34.44 16.16h5.73v1.01h-2.25v5.67h-1.24v-5.67h-2.24v-1.01ZM41.8 20.61c0 .26.05.48.14.66.1.18.22.33.39.45.16.11.35.2.56.25a3.15 3.15 0 0 0 1.4 0c.2-.07.35-.15.47-.24a.85.85 0 0 0 .33-.7c0-.25-.06-.44-.19-.56a1 1 0 0 0-.4-.26 8 8 0 0 0-.87-.24l-1.23-.31c-.3-.08-.56-.17-.77-.3-.2-.12-.35-.25-.47-.4a1.47 1.47 0 0 1-.33-1c0-.33.07-.62.22-.87.15-.24.35-.45.6-.61.24-.16.51-.28.83-.36a3.72 3.72 0 0 1 2.84.42 1.86 1.86 0 0 1 .81 1.6H44.9c-.03-.44-.18-.74-.46-.91a2.22 2.22 0 0 0-1.92-.08.9.9 0 0 0-.32.25.71.71 0 0 0-.12.42c0 .24.07.43.23.57.16.13.36.23.61.3l.3.08a46.34 46.34 0 0 1 1.74.43c.24.07.44.16.6.28.18.12.32.26.44.41.11.15.2.31.25.49a1.8 1.8 0 0 1-.8 2.13c-.25.17-.56.3-.9.37a4.4 4.4 0 0 1-2.16-.02c-.36-.1-.67-.24-.94-.43a2.15 2.15 0 0 1-.88-1.82h1.24ZM49.48 16.16h1.26l1.28 5.1h.02l1.43-5.1h1.27l1.39 5.1h.02l1.31-5.1h1.26l-1.95 6.68h-1.26l-1.42-5.1h-.02l-1.44 5.1h-1.28l-1.87-6.68ZM59.51 16.16h1.24v2.66h3.22v-2.66h1.24v6.68h-1.24v-3.01h-3.22v3.01h-1.24v-6.68ZM69.71 16.95c-.38 0-.7.08-.98.22-.27.14-.5.34-.67.58-.17.24-.3.5-.38.81a3.71 3.71 0 0 0 0 1.88c.08.3.21.58.38.82a1.91 1.91 0 0 0 1.65.79c.38 0 .7-.08.97-.22.28-.14.5-.33.68-.57a3.44 3.44 0 0 0 .38-2.7 2.4 2.4 0 0 0-.38-.81c-.18-.24-.4-.44-.68-.58-.27-.14-.6-.22-.97-.22Zm0-.95c.53 0 1 .1 1.42.28a3.16 3.16 0 0 1 1.73 1.87 3.82 3.82 0 0 1 0 2.7 3.16 3.16 0 0 1-1.74 1.87c-.4.19-.88.28-1.41.28a3.19 3.19 0 0 1-3.16-2.14 4 4 0 0 1 0-2.7A3.19 3.19 0 0 1 69.7 16ZM81.77 18.28c-.05-.19-.13-.37-.22-.53a1.5 1.5 0 0 0-.87-.7 2 2 0 0 0-.68-.1c-.37 0-.7.08-.98.22-.27.14-.5.34-.66.58-.17.24-.3.5-.39.81a3.7 3.7 0 0 0 0 1.88c.09.3.22.58.39.82a1.91 1.91 0 0 0 1.64.79 1.73 1.73 0 0 0 1.28-.5c.15-.17.27-.36.36-.57.09-.21.14-.44.17-.68H83a2.96 2.96 0 0 1-.9 1.95c-.26.24-.57.42-.93.55a3.6 3.6 0 0 1-2.6-.07 3.19 3.19 0 0 1-1.74-1.87 4 4 0 0 1 0-2.7A3.19 3.19 0 0 1 80 16c.4-.01.77.04 1.12.15a2.77 2.77 0 0 1 1.58 1.16c.17.28.27.6.3.96h-1.23ZM87.16 16.95c-.38 0-.7.08-.98.22-.27.14-.5.34-.67.58-.17.24-.3.5-.38.81a3.71 3.71 0 0 0 0 1.88c.08.3.21.58.38.82a1.91 1.91 0 0 0 1.65.79c.38 0 .7-.08.97-.22.28-.14.5-.33.68-.57a3.44 3.44 0 0 0 .38-2.7 2.4 2.4 0 0 0-.38-.81c-.18-.24-.4-.44-.68-.58-.27-.14-.6-.22-.97-.22Zm0-.95c.53 0 1 .1 1.42.28a3.16 3.16 0 0 1 1.73 1.87 3.81 3.81 0 0 1 0 2.7 3.16 3.16 0 0 1-1.74 1.87c-.4.19-.88.28-1.41.28A3.19 3.19 0 0 1 84 20.86a4 4 0 0 1 0-2.7A3.19 3.19 0 0 1 87.16 16ZM91.68 16.16h2.93c.55 0 1.01.09 1.41.26.4.18.72.42.97.72s.44.65.56 1.06a4.38 4.38 0 0 1 0 2.6 2.62 2.62 0 0 1-1.53 1.78c-.4.17-.86.26-1.4.26h-2.94v-6.68Zm1.24 5.73h1.22c.48 0 .87-.06 1.18-.18.3-.13.55-.3.72-.5.18-.23.3-.48.36-.76a4.3 4.3 0 0 0 0-1.89 1.67 1.67 0 0 0-1.08-1.26c-.3-.12-.7-.19-1.18-.19h-1.22v4.78ZM98.83 16.16h5.1v1.01h-3.86v1.75h3.57v.95h-3.57v1.96H104v1.01h-5.17v-6.68Z"
			></path>
		</svg>
	</a>
</nav>

<style>
	.sponsors {
		display: flex;
		flex-wrap: wrap;
		gap: 0 1rem;
		justify-content: center;

		& a {
			color: inherit;
			display: block;
		}

		& svg {
			display: block;
		}
	}
</style>
