---

---

<nav class="sponsors">
	<!-- <a href="https://lwj.dev/nx" title="Vets Who Code">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 35"
			width="41"
			height="60"
			><g clip-path="url(#a)"
				><path
					fill="currentColor"
					fill-rule="evenodd"
					d="m9.01745 15.8755 3.06995 4.7987-3.15875 4.9642-5.2362-8.4976-.012 8.8963H0V11h3.72205l5.2908 8.9074.0046-4.0319Zm3.67675-1.0101H9.01839l-.00094-.0425L9.02209 11h3.68041v3.8229l-.0083.0425Zm5.6811 4.1688c-.8806-.0167-1.6762.5232-1.9859 1.3477.5156-.7711 1.4975-1.081 2.3623-.7456.0461.0188.0939.0389.1429.0596h.0001l.0008.0004c.3763.1584.8295.3492 1.1974.2249-.3959-.5555-1.0355-.8858-1.7176-.887Zm3.4168 1.0693c.5087.185.7538.2895.7538.7399l.001.1342c-.3654-.0775-.5447-.2287-.6899-.3512-.1529-.1289-.268-.226-.5228-.1714-.3245.0883-.6683-.0491-.8426-.3367-.3489-.7584-1.0745-1.2744-1.9054-1.355-.8309-.0805-1.6421.2864-2.1302.9637.3861-.9369 1.299-1.5486 2.3124-1.5493.505 0 .8945.1064 1.1914.3247.22.1782.4027.3983.5373.6474l.0044.007c.0585.0936.1137.1818.1732.2603.3107.4056.737.554 1.1135.685l.0039.0014Zm2.3919.6437v-.0101c-.0111-2.9821-2.4317-5.5332-5.4156-5.5332-1.8225-.0012-3.523.9153-4.524 2.4382l-.0194-.0333-1.5317-2.4049H9.0184l3.4917 5.4684-3.40755 5.3648H12.672l1.553-2.3855 1.5807 2.3855h3.5704l-3.2374-5.0947c-.0537-.0993-.0829-.21-.0851-.3228-.0002-.7196.2855-1.4098.7943-1.9186.5089-.5088 1.1991-.7946 1.9186-.7943 1.2465 0 1.6304.6192 1.9103 1.0707.057.0919.1097.1769.1644.2483.2736.3563.6639.4933 1.0209.6187.4771.1675.8947.3141.8947.9352.0038.2545.1431.4876.3654.6115.2222.1239.4937.1199.7122-.0107.2184-.1305.3507-.3676.3469-.6221v-.0111h.0027Zm-.0998 1.5142c.1039-.2341.1398-.4928.1035-.7465-.0949.204-.2531.2868-.4094.3686-.1316.0689-.2618.1371-.3518.2762-.1776.2728.1147.4153.1147.4153s.3395.1572.543-.3136Z"
					clip-rule="evenodd"></path></g
			><defs
				><clipPath id="a"
					><path fill="currentColor" d="M0 0h24v35H0z"></path></clipPath
				></defs
			></svg
		>
	</a> -->
	<a href="https://lwj.dev/netlify" title="Netlify">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 60 35"
			width="103"
			height="60"
			><g
				><path
					fill="currentColor"
					fill-rule="evenodd"
					d="M13.0135 14.1964V7.88089l.1309-.13089h1.5789l.1308.13089v6.31551l-.1308.1309h-1.5789l-.1309-.1309Zm0 18.4227v-6.3154l.1309-.1308h1.5789l.1308.1308v6.3154l-.1308.1309h-1.5789l-.1309-.1309Zm-5.65081-4.4399h.21678l2.03495-2.037v-1.1494l-.15339-.1513-1.14938-.0021-2.03494 2.037v.2168l1.08598 1.086ZM6.27671 13.681v-.2189l1.08598-1.0839h.21678l2.03495 2.035v1.1473l-.15339.1554H8.31165L6.27671 13.681Zm1.80179 5.6467H-.86911L-1 19.4586v1.5809l.13089.1309H8.0785l.13088-.1309v-1.5809l-.13088-.1309Zm52.1435.002.1308.1309v1.5789l-.1308.1309h-9.0784l-.1309-.1309.6565-1.5789.1308-.1309h8.422Zm-44.9057 4.211h1.5789v-.002l.1309-.1309v-3.9472c0-1.3805-1.1187-2.4992-2.4992-2.4992h-3.5524l-.1309.1309v6.3155l.1309.1309h1.5788l.1309-.1309v-4.7816l.0757-.0757c.499-.0204.9653-.0307 1.3743-.0204.7936.0163 1.0513.5256 1.0513 1.1841v3.6956l.1308.1309Zm9.2258-2.765-.1308.1308H20.329l-.1309.131c0 .2638.2639 1.0532 1.3171 1.0532.3948 0 .7895-.1309.9224-.3947l.1309-.1309h1.5789l.1309.1309c-.1309.7894-.7895 1.9756-2.7651 1.9756-2.2374 0-3.2907-1.5788-3.2907-3.4236 0-1.8447 1.0533-3.4236 3.1598-3.4236 2.1065 0 3.1598 1.5789 3.1598 3.4236v.5277Zm-1.9756-1.3171c0-.1309-.1309-1.0533-1.1842-1.0533s-1.1842.9224-1.1842 1.0533l.1309.1309h2.1066l.1309-.1309Zm6.0557 2.5012c-.2638 0-.3947-.1309-.3947-.3947l-.0022-.002v-2.896l.1309-.1309h1.4481l.1308-.1309v-1.3171l-.1308-.1309h-1.4481l-.1309-.1309v-1.1841l-.1308-.1309h-1.579l-.1308.1309v1.1841l-.1309.1309h-.9222l-.1309.1309v1.3171l.1309.1309h.9222l.1309.1309v2.896c0 1.448 1.0533 1.9756 2.2375 1.9756h1.1842l.1309-.1309v-1.3171l-.1309-.1309h-1.1842Zm4.4768 1.5809h-1.5787l-.1311-.1309v-8.9537l.1311-.1309h1.5787l.1309.1309v8.9517l-.1309.1309v.002Zm1.9756-7.6366h1.5789l.1309-.1309v-1.3171l-.1309-.1309h-1.5789l-.1309.1309v1.3171l.1309.1309Zm0 7.6366h1.5789l.1309-.1309v-6.3195l-.1309-.1309h-1.5789l-.1309.1309v6.3195l.1309.1309Zm7.7676-9.0846v1.3171l-.1308.1309h-1.1842c-.2639 0-.3948.1309-.3948.3947v.5276l.1309.1309h1.3172l.1309.1309v1.3171l-.1309.1309h-1.3172l-.1309.1309v4.7387l-.1308.1308h-1.579l-.1308-.1308v-4.7387l-.1309-.1309h-.9222l-.1311-.1309v-1.3171l.1311-.1309h.9222l.1309-.1309v-.5276c0-1.448 1.0533-1.9756 2.2375-1.9756h1.184l.1311.1309-.0022.002Zm1.9737 11.322c1.8425 0 2.3681-.7894 2.8959-2.1065l-.0063.0021 2.1067-5.2663v-1.3171l-.1308-.1309h-1.1842l-.1309.1309-1.5789 4.4768h-.1309l-1.5789-4.4768-.1309-.1309h-1.1842l-.1308.1309v1.3171l2.1064 5.1354v.1309c-.1328.3947-.2639.5256-.9222.5256h-.6586l-.1309.1309v1.3171l.1309.1308h.6586Z"
					clip-rule="evenodd"></path></g
			></svg
		>
	</a>
</nav>

<style>
	.sponsors {
		display: flex;
		flex-wrap: wrap;
		gap: 0 1rem;
		justify-content: center;

		& a {
			color: inherit;
			display: block;
		}

		& svg {
			display: block;
		}
	}
</style>
