---

---

<nav class="sponsors">
	<a href="https://lwj.dev/netlify" title="Netlify">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 76 35"
			width="130"
			height="60"
		>
			<path
				fill="currentColor"
				fill-rule="evenodd"
				d="M21.01 14.2V7.88l.13-.13h1.58l.13.13v6.32l-.13.13h-1.58l-.13-.13Zm0 18.42V26.3l.13-.13h1.58l.13.13v6.32l-.13.13h-1.58l-.13-.13Zm-5.65-4.44h.22l2.03-2.04V25l-.15-.15h-1.15l-2.03 2.04v.21l1.08 1.09Zm-1.08-14.5v-.22l1.08-1.08h.22l2.03 2.03v1.15l-.15.16h-1.15l-2.03-2.04Zm1.8 5.65H7.13l-.13.13v1.58l.13.13h8.95l.13-.13v-1.58l-.13-.13Zm52.14 0 .13.13v1.58l-.13.13h-9.08l-.13-.13.66-1.58.13-.13h8.42Zm-44.9 4.21h1.58l.13-.13v-3.95a2.5 2.5 0 0 0-2.5-2.5h-3.56l-.13.13v6.32l.13.13h1.58l.13-.13v-4.78l.08-.08c.5-.02.97-.03 1.37-.02.8.02 1.06.53 1.06 1.18v3.7l.13.13Zm9.22-2.76-.13.13h-4.08l-.13.13c0 .26.26 1.05 1.32 1.05.39 0 .78-.13.92-.4l.13-.12h1.58l.13.13c-.13.79-.8 1.97-2.77 1.97-2.23 0-3.29-1.58-3.29-3.42 0-1.85 1.06-3.43 3.16-3.43s3.16 1.58 3.16 3.43v.53Zm-1.97-1.32c0-.13-.13-1.05-1.19-1.05-1.05 0-1.18.92-1.18 1.05l.13.13h2.1l.14-.13Zm6.05 2.5c-.26 0-.4-.13-.4-.4v-2.9l.14-.12h1.44l.14-.13v-1.32l-.14-.13h-1.44l-.13-.13v-1.19l-.14-.13h-1.57l-.14.13v1.19l-.13.13h-.92l-.13.13v1.32l.13.13h.92l.13.13v2.9c0 1.44 1.06 1.97 2.24 1.97h1.19l.13-.13v-1.32l-.13-.13h-1.19Zm4.48 1.58h-1.58l-.13-.13v-8.95l.13-.13h1.58l.13.13v8.95l-.13.13Zm1.97-7.64h1.58l.13-.13v-1.31l-.13-.13h-1.58l-.13.13v1.31l.13.13Zm0 7.64h1.58l.13-.13v-6.32l-.13-.13h-1.58l-.13.13v6.32l.13.13Zm7.77-9.08v1.31l-.13.13h-1.18c-.27 0-.4.13-.4.4v.53l.13.13h1.32l.13.13v1.32l-.13.13h-1.32l-.13.13v4.74l-.13.13h-1.58l-.13-.13v-4.74l-.13-.13h-.92l-.13-.13v-1.32l.13-.13h.92l.13-.13v-.53c0-1.45 1.06-1.98 2.24-1.98h1.18l.13.13Zm1.98 11.32c1.84 0 2.36-.8 2.9-2.1h-.01l2.1-5.27v-1.32l-.13-.13H56.5l-.13.13-1.58 4.48h-.13l-1.58-4.48-.13-.13h-1.19l-.13.13v1.32l2.1 5.13v.13c-.12.4-.26.53-.91.53h-.66l-.13.13v1.32l.13.13h.66Z"
				clip-rule="evenodd"></path>
		</svg>
	</a>
	<a href="https://lwj.dev/vetswhocode" title="Vets Who Code">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 104 35"
			width="178"
			height="60"
		>
			<path
				fill="currentColor"
				fill-rule="evenodd"
				d="M3.55 12.1c-.04.09-.32 1.71-.32 1.8 0 .04-.35.07-.77.07h-.77v1.76h.6c.7 0 .65-.12.43 1.12l-.16.88-.64.02-.65.02-.04.22c-.03.13-.03.51-.02.86l.02.63.51.02.51.02-.03.23c-.1.6-.26 1.5-.3 1.61-.03.1-.13.12-.73.12h3.5c-.9 0-.97 0-.94-.12l.08-.4.15-.86.11-.58h.98c.97 0 .97 0 .94.16-.06.29-.17.92-.22 1.27-.06.48-.02.53-.68.53H7.5l.04-.22.16-.94c.06-.38.13-.72.16-.74.01-.02.58-.03 1.48-.05v-1.76h-1.2l.03-.17.15-.9c.07-.4.15-.78.19-.85.04-.07.16-.1 1.3-.12V14l-1-.05.15-.92c.1-.5.17-.94.17-.97 0-.03-.4-.06-.9-.06h-.91l-.04.23-.16.98-.13.76h-.97c-.78 0-.96-.02-.96-.1 0-.05.06-.47.14-.92l.14-.88c0-.1-1.76-.08-1.8.02Zm2.93 5.03.18-1.04.06-.36H5.71c-.74 0-1.02.02-1.04.08-.04.13-.32 1.77-.32 1.9 0 .11.1.12 1 .1l1-.01.13-.67Z"
				clip-rule="evenodd"></path>
			<path
				fill="currentColor"
				d="m12.46 19.5 4.57-.02V17.8l-4.45-.02-3.24-.01v1.76l3.12-.02Z"></path>
			<path
				fill="currentColor"
				fill-rule="evenodd"
				d="M7.5 21.48h-7l-.02.82v.84c.02.02 3.58.03 7.92.03h7.9v-1.69H7.5ZM0 26.96v-1.68h15.8v1.68l-.75.02-.76.02-.08.52-.17 1-.08.48h-.87c-.65 0-.87-.03-.87-.1l.14-.92.14-.93c0-.07-.24-.09-.97-.09h-.98l-.1.58a25.24 25.24 0 0 0-.18 1c-.02.2-.04.3-.1.37-.09.09-.27.09-.7.09H9.05c-.33 0-.5 0-.57-.08-.07-.09-.04-.27.04-.66l.05-.28.05-.29c.07-.36.11-.55.03-.64-.08-.1-.28-.1-.68-.1l-.31.01c-.58 0-1.07.02-1.08.05-.02.03-.1.5-.2 1.02l-.15.97h-.9c-.9 0-.9 0-.87-.16.03-.16.32-1.8.32-1.86h-1c-.83.01-1 .03-1.02.12 0 .06-.08.5-.17 1l-.16.9h-.86c-.78 0-.87-.02-.87-.13l.14-.96.14-.9c0-.03-.22-.05-.49-.05H0Z"
				clip-rule="evenodd"></path>
			<path
				fill="currentColor"
				d="M13.03 15.73h4.46v-1.69h-.61c-.17 0-.27 0-.32-.05-.08-.07-.05-.27.04-.77a68.18 68.18 0 0 0 .18-1.13c0-.06-.22-.09-.87-.09h-.87l-.07.37-.15.9-.03.2c-.04.26-.06.4-.14.48-.1.1-.29.1-.7.1l-.26-.01c-.74 0-.98-.02-.98-.09l.14-.9.05-.28c.08-.41.11-.6.03-.7-.07-.07-.23-.07-.54-.07a19.3 19.3 0 0 1-.46 0c-.32 0-.5 0-.6.08-.13.1-.16.32-.23.78l-.04.27c-.07.44-.15.83-.18.86-.03.04-.5.04-1.06.01v1.73h3.2ZM22 16.16h1.29l1.77 5.29h.02l1.82-5.3h1.26l-2.42 6.7h-1.38L22 16.14ZM28.86 16.16h5.1v1.01H30.1v1.75h3.57v.95H30.1v1.96h3.93v1.01h-5.17v-6.68ZM34.44 16.16h5.73v1.01h-2.25v5.67h-1.24v-5.67h-2.24v-1.01ZM41.8 20.61c0 .26.05.48.14.66.1.18.22.33.39.45.16.11.35.2.56.25a3.15 3.15 0 0 0 1.4 0c.2-.07.35-.15.47-.24a.85.85 0 0 0 .33-.7c0-.25-.06-.44-.19-.56a1 1 0 0 0-.4-.26 8 8 0 0 0-.87-.24l-1.23-.31c-.3-.08-.56-.17-.77-.3-.2-.12-.35-.25-.47-.4a1.47 1.47 0 0 1-.33-1c0-.33.07-.62.22-.87.15-.24.35-.45.6-.61.24-.16.51-.28.83-.36a3.72 3.72 0 0 1 2.84.42 1.86 1.86 0 0 1 .81 1.6H44.9c-.03-.44-.18-.74-.46-.91a2.22 2.22 0 0 0-1.92-.08.9.9 0 0 0-.32.25.71.71 0 0 0-.12.42c0 .24.07.43.23.57.16.13.36.23.61.3l.3.08a46.34 46.34 0 0 1 1.74.43c.24.07.44.16.6.28.18.12.32.26.44.41.11.15.2.31.25.49a1.8 1.8 0 0 1-.8 2.13c-.25.17-.56.3-.9.37a4.4 4.4 0 0 1-2.16-.02c-.36-.1-.67-.24-.94-.43a2.15 2.15 0 0 1-.88-1.82h1.24ZM49.48 16.16h1.26l1.28 5.1h.02l1.43-5.1h1.27l1.39 5.1h.02l1.31-5.1h1.26l-1.95 6.68h-1.26l-1.42-5.1h-.02l-1.44 5.1h-1.28l-1.87-6.68ZM59.51 16.16h1.24v2.66h3.22v-2.66h1.24v6.68h-1.24v-3.01h-3.22v3.01h-1.24v-6.68ZM69.71 16.95c-.38 0-.7.08-.98.22-.27.14-.5.34-.67.58-.17.24-.3.5-.38.81a3.71 3.71 0 0 0 0 1.88c.08.3.21.58.38.82a1.91 1.91 0 0 0 1.65.79c.38 0 .7-.08.97-.22.28-.14.5-.33.68-.57a3.44 3.44 0 0 0 .38-2.7 2.4 2.4 0 0 0-.38-.81c-.18-.24-.4-.44-.68-.58-.27-.14-.6-.22-.97-.22Zm0-.95c.53 0 1 .1 1.42.28a3.16 3.16 0 0 1 1.73 1.87 3.82 3.82 0 0 1 0 2.7 3.16 3.16 0 0 1-1.74 1.87c-.4.19-.88.28-1.41.28a3.19 3.19 0 0 1-3.16-2.14 4 4 0 0 1 0-2.7A3.19 3.19 0 0 1 69.7 16ZM81.77 18.28c-.05-.19-.13-.37-.22-.53a1.5 1.5 0 0 0-.87-.7 2 2 0 0 0-.68-.1c-.37 0-.7.08-.98.22-.27.14-.5.34-.66.58-.17.24-.3.5-.39.81a3.7 3.7 0 0 0 0 1.88c.09.3.22.58.39.82a1.91 1.91 0 0 0 1.64.79 1.73 1.73 0 0 0 1.28-.5c.15-.17.27-.36.36-.57.09-.21.14-.44.17-.68H83a2.96 2.96 0 0 1-.9 1.95c-.26.24-.57.42-.93.55a3.6 3.6 0 0 1-2.6-.07 3.19 3.19 0 0 1-1.74-1.87 4 4 0 0 1 0-2.7A3.19 3.19 0 0 1 80 16c.4-.01.77.04 1.12.15a2.77 2.77 0 0 1 1.58 1.16c.17.28.27.6.3.96h-1.23ZM87.16 16.95c-.38 0-.7.08-.98.22-.27.14-.5.34-.67.58-.17.24-.3.5-.38.81a3.71 3.71 0 0 0 0 1.88c.08.3.21.58.38.82a1.91 1.91 0 0 0 1.65.79c.38 0 .7-.08.97-.22.28-.14.5-.33.68-.57a3.44 3.44 0 0 0 .38-2.7 2.4 2.4 0 0 0-.38-.81c-.18-.24-.4-.44-.68-.58-.27-.14-.6-.22-.97-.22Zm0-.95c.53 0 1 .1 1.42.28a3.16 3.16 0 0 1 1.73 1.87 3.81 3.81 0 0 1 0 2.7 3.16 3.16 0 0 1-1.74 1.87c-.4.19-.88.28-1.41.28A3.19 3.19 0 0 1 84 20.86a4 4 0 0 1 0-2.7A3.19 3.19 0 0 1 87.16 16ZM91.68 16.16h2.93c.55 0 1.01.09 1.41.26.4.18.72.42.97.72s.44.65.56 1.06a4.38 4.38 0 0 1 0 2.6 2.62 2.62 0 0 1-1.53 1.78c-.4.17-.86.26-1.4.26h-2.94v-6.68Zm1.24 5.73h1.22c.48 0 .87-.06 1.18-.18.3-.13.55-.3.72-.5.18-.23.3-.48.36-.76a4.3 4.3 0 0 0 0-1.89 1.67 1.67 0 0 0-1.08-1.26c-.3-.12-.7-.19-1.18-.19h-1.22v4.78ZM98.83 16.16h5.1v1.01h-3.86v1.75h3.57v.95h-3.57v1.96H104v1.01h-5.17v-6.68Z"
			></path>
		</svg>
	</a>
</nav>

<style>
	.container {
		display: flex;
		gap: 1rem;
		place-items: center;
	}

	.sponsors {
		display: flex;
		flex-wrap: wrap;
		gap: 0;
		justify-content: center;

		& a {
			color: inherit;
			display: block;
		}

		& svg {
			display: block;
		}
	}
</style>
