.outer {
	animation: var(--animation-gradient-shift);
	animation-delay: var(--animation-delay, 0);
	aspect-ratio: 1;
	background: var(--color-gradient);
	background-size: 200% 100%;
	border-radius: 50%;
	padding: 2px;
	position: absolute;
}

.inner {
	background: var(--color-black-faded);
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
