.hero {
	background: var(--color-black-faded);
}

.hero h1,
.hero p {
	color: var(--color-white);
	margin: 0;
	text-align: center;
}

.hero h1 {
	font-size: clamp(5vw, 3rem, 7vw);
	width: min(90%, 50ch);
}

.hero p {
	font-size: 1.25rem;
	margin-top: 0.5rem;
	width: min(90%, 42ch);
}

.content > :is(:first-of-type) {
	margin-top: 1.25rem;
}

.content :is(:last-child) {
	margin-bottom: 0;
}
