.container {
	display: flex;
	gap: 1rem;
	place-items: center;
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	gap: 0;
	justify-content: center;
}

.sponsors a {
	color: inherit;
	display: block;
}

.sponsors svg {
	display: block;
}
